<div class="container pb-5">
    <div class="text-center">
      <h2 class="display-3">About app</h2>
    </div>

    <div class="text-center">
      <h4>call_tableは営業用のコール表としての利用を目的に、</br>
      連絡先の登録や電話の履歴を作成することができます。</br>
      </br>
      このツールを使うことによって少しでもコール掛けの業務の効率化ができればと考えております。</h4></br>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-left">
        個人情報の観点から使用条件を以下の場合のみとさせていただきます。</br>
        </br>
         <li>１つの団体、もしくは個人での利用を前提とする。</li></br>
         <li>登録する連絡先の対象は団体とし、個人情報は含まないものとする。</li></br>
        </div>
        <div class="col-3"></div>
      </div>
