<div class="row pb-5">
  <div class="col-8 mx-auto">
    <h4><strong>連絡先一覧</strong></h4>
  <div class ="col-md-9 text-right">
      <%= link_to "+", new_admin_contact_path, class: "btn btn-outline-dark rounded-circle" %>
  </div>
    <table class="table shadow-lg mt-4">
        <thead class="table-active">
          <tr>
            <th>連絡先ID</th>
            <th>団体名</th>
            <th>電話番号</th>
            <th>ステータス</th>
          </tr>
        </thead>
      <% @contacts.each do |contact| %>
        <tbody>
          <tr>
            <td><%= contact.id %></td>
            <td>
              <%= link_to "#{contact.organization_name}", admin_contact_path(contact.id) %>
            </td>
            <td><%= contact.contact_number %></td>

          <% if contact.contact_status == true %>
            <td class="text-secondary font-weight-bold">無効</td>
          <% else %>
            <td class="text-success font-weight-bold">有効</td>
          <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
