<table class='table'>
  
  <tr>
	 <th>ユーザー名</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	 <th>所属</th>
	  <th><%= user.department %></th>
  </tr>
  <tr>
	 <th>役職</th>
	  <th><%= user.post %></th>
  </tr>
</table>  