<div class="row pb-5">
  <div class="col-8 mx-auto">
    <h4><strong>会員一覧</strong></h4>

    <table class="table shadow-lg mt-4">
        <thead class="table-active">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>所属</th>
            <th>役職</th>
            <th>ステータス</th>
          </tr>
        </thead>
      <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to "#{user.last_name}#{user.first_name}", admin_user_path(user.id) %>
            </td>
            <td><%= user.department %></td>
            <td><%= user.post %></td>

          <% if user.is_deleted == true %>
            <td class="text-secondary font-weight-bold">無効</td>
          <% else %>
            <td class="text-success font-weight-bold">有効</td>
          <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
