<footer class="text-center pt-3 pb-1 fixed-bottom" style="background-color:rgb(0, 0, 0);">
  <div class="container">
    <div class="row no-gutters">
      <div class="col">
        <p style="color:#fff;">call table</p>
      </div>
    </div>
  </div>
</footer>